<% content_for :head do %>
  <script type="text/javascript">
    document.addEventListener("DOMContentLoaded",function(){
      setTimeout(() => {
        console.log("all done")
      }, 10000)
      document.getElementsByTagName('h1')[0].append(' ENHANCED!');
    });
  </script>
<% end %>

<h1>This page has been viewed <%= pluralize(@page_hits, "time") %>!</h1>

<p>A word should appear after 10 seconds ath the end of the title. A delay has been set to allow us to see testing work in selenium_chrome</p>
